div {
    background-image: url('../../assets/home.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 64px);
    width: 100%; 
    position: relative;
    margin-top: -35px;
}

.send-btn {
    position: fixed;
    bottom: 35px;
    left: 40%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    width: 20%;
}