<body>

    <div class="container">

        <h2> About Us </h2>

        <div class="text-box text-black p-3 mb-3">
            <p> PrediCrop started as a response to a challenge that we were passionate about: helping farmers make better decisions by using advanced technology. It all began when we took on the NASA Space Challenge, focusing on "Leveraging Earth Observation Data for Informed Agricultural Decision-Making." We saw how weather events, like floods and droughts, can make or break a season for farmers, and realized there was a huge need for a tool that could give them better insights.</p>

            <p>   With our background in computer science and a strong interest in agriculture, we knew we could make a difference. We began developing a solution that would allow farmers to predict the impact of these weather events on their crops and determine if it would be financially worthwhile to plant them. That’s how PrediCrop was born—a project built to combine cutting-edge technology with real-world farming needs, providing actionable insights to help farmers maximize both their yield and profits.</p>
        </div>


    </div> 

</body>
