.navbar{
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.titulo{
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}

img{

    width: 200px;
    height: 55px;
}

.nav-item{
    margin-top: 3px;
}