<div class="container text-center">
    <div class="row">
        <div class="col">

            <p class="texto">Select at least one of the following crops</p>
         
            <div class="btn-group d-block mb-3" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="btnradio1" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

                <input type="radio" class="btn-check" name="btnradio1" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

                <input type="radio" class="btn-check" name="btnradio1" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>

                <input type="radio" class="btn-check" name="btnradio1" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>

            </div>

            <p class="texto2">Select how many days ahead you want your prediction</p>

            <div class="btn-group d-block mb-3" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="btnradio2" id="btnradio4" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio4">Radio 1</label>

                <input type="radio" class="btn-check" name="btnradio2" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio5">Radio 2</label>

                <input type="radio" class="btn-check" name="btnradio2" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio6">Radio 3</label>

                <input type="radio" class="btn-check" name="btnradio2" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio6">Radio 3</label>

            </div>

        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
</div>
